html {
  background-color: rgba(255, 255, 255, 0.473);
}
body {
  display: flex;
  justify-content: center;
}
h2 {
  padding: 15px 0;
  font-size: 3rem;
  border-bottom: 2px solid #bdbdbd;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
.center-text {
  margin: 3px 0 15px 0;
  padding-top: 30px;
  text-align: center;
  font-size: 1.4rem;
}
a {
  text-decoration: underline;
  text-decoration: underline;
  text-underline-position: under;
  color: black;
}
ol {
  /* list-style-type: decimal; */
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
}
ul {
  padding: 0 0 0 20px;
}

main {
  padding-top: 5vh;
  width: 900px;
}
section {
  padding: 20px 0;
}

h1 {
  font-size: 2.5rem;
}

.myprofile-box {
  padding-top: 20px;
}
.myinfo-item {
  display: flex;
  align-items: center;
  padding: 8px 5px;
}
.myinfo-item > a {
  padding-left: 10px;
  font-size: 1.2rem;
}
.myinfo-item span {
  display: inline-flex;
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.project-github-url,
.projecturl {
  margin: 0 0 10px 0;
}

.myinfo-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.myimg-box {
  width: 30%;
}
.myimg-box img {
  width: 100%;
}

.projects-box {
  padding-top: 50px;
}

.project-box {
  display: flex;
  width: 100%;
}

.project-info-box {
  position: sticky;
  top: 20px;
  width: 40%;
  height: 100%;
}
.project-info-box > img {
  width: 80%;
  height: 80px;
  border-radius: 15px;
  border: 2px solid gray;
}

.projectname {
  margin: 0;
}

.project-period {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.project-detail-box {
  padding-left: 20px;
  width: 60%;
}
.project-detail-box p {
  margin: 3px 0 30px 0;
  padding-left: 5px;
  text-align: center;
}

.team-members {
  text-align: center;
}
.team-members span {
  margin-right: 10px;
}

.role-list {
  margin: 0 0 30px 0;
}
.role-item {
  padding: 5px 0;
}

.grow-item:hover > a {
  color: rgb(0, 165, 165);
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}
.skill-list > .skill-item {
  margin-right: 7px;
  margin-bottom: 4px;
  padding: 3px 10px;
  width: fit-content;
  border-radius: 10px;
  background: gray;
  color: white;
}

.skill-name {
  margin-bottom: 10px;
  color: #353535;
}
.skill-explain-list {
  margin-bottom: 30px;
  padding-left: 55px;
}
.skill-explain-item,
.experience-list-item {
  padding: 3px 0;
}

.education-name {
  margin-bottom: 10px;
}
.education-type {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: rgb(63, 63, 63);
}
.date {
  margin-top: 0px;
  color: gray;
  font-size: 1.3rem;
  font-weight: 400;
}

.introduce-text-box {
  padding: 10px 15px 10px 15px;
  /* background-color: #e4e4e4;
  border-radius: 10px; */
  border-left: 5px solid #00b5ad;
  font-size: 1.3rem;
}
