html {
  background-color: rgba(255, 255, 255, 0.473);
}
body {
  display: flex;
  justify-content: center;
}
h2 {
  padding: 15px 0;
  font-size: 3rem;
  border-bottom: 2px solid #bdbdbd;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
.center-text {
  margin: 3px 0 15px 0;
  padding-top: 30px;
  text-align: center;
  font-size: 1.4rem;
}
a {
  text-decoration: underline;
  color: black;
}
ol {
  /* list-style-type: decimal; */
  margin: 0 0 30px 0;
  padding: 0 0 0 20px;
}
ul {
  padding: 0 0 0 20px;
}

main {
  padding-top: 5vh;
  width: 900px;
}

h1 {
  font-size: 2.5rem;
}

.myprofile-box {
  display: flex;
  padding-top: 50px;
}
.myinfo-item {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  font-size: 1.2rem;
}
.myinfo-item > a {
  padding-left: 10px;
}
.myinfo-item span {
  display: inline-flex;
  width: 70px;
  font-size: 1.2rem;
  font-weight: bold;
}

.project-github-url,
.projecturl {
  margin: 0 0 10px 0;
}

.myinfo-list {
  list-style: none;
  padding: 10px 5px;
  width: 70%;
}

.myimg-box {
  width: 30%;
}
.myimg-box img {
  width: 100%;
}

.projects-box {
  padding-top: 50px;
}

.project-box {
  display: flex;
  padding-bottom: 50px;
  width: 100%;
}

.project-info-box {
  position: sticky;
  top: 20px;
  width: 40%;
  height: 100%;
}

.projectname {
  margin: 0;
}

.project-period {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.project-detail-box {
  padding-left: 20px;
  width: 60%;
}
.project-detail-box p {
  margin: 3px 0 30px 0;
  padding-left: 5px;
  text-align: center;
}

.team-members {
  text-align: center;
}
.team-members span {
  margin-right: 10px;
}

.role-list {
  margin: 0 0 30px 0;
}
.role-item {
  padding: 5px 0;
}

.grow-item:hover {
  transform: translateY(-4px);
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
}
.skill-list > .skill-item {
  margin-right: 7px;
  margin-bottom: 4px;
  padding: 3px 10px;
  width: fit-content;
  border: 2px solid rgb(8, 0, 54);
}

.skill-name {
  margin-bottom: 10px;
  color: #353535;
  font-size: 2rem;
}
.skill-explain-list {
  margin-bottom: 30px;
  padding-left: 55px;
}
.skill-explain-item,
.experience-list-item {
  padding: 3px 0;
}
